<div class="container">
    <div class="bg-success bg-img container text-secondary mt-3 px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Dark mode hero</h1>
            <div class="col-lg-6 mx-auto text-dark">
                <p class="fs-5 mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Custom button</button>
                    <button type="button" class="btn btn-outline-light btn-lg px-4">Secondary</button>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#geo-fill"></use>
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Quick contact</h4>
                    <p class="text-muted">Email: solarpower@gma.co Phone: +27 123 123 123</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#home"></use>
                </svg>
                <div>
                    <h4 class="fw-bold mb-0">Our location</h4>
                    <p class="text-muted">1234 Something rd cape town, South Africa </p>
                </div>
            </div>

            <div class="col d-flex align-items-start"></div>

            <div class="col d-flex align-items-start bg-success pt-3 rounded my-3">
                <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em">
                    <use xlink:href="#speedometer2"></use>
                </svg>
                <div>
                    <h6 class="fw-bold mb-2">Commercial And Residential Solar geyser Installations. </h6>
                    <p class="text-white">Our presence ensures timeliness, cost efficiency & compliance adherence!</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container col-xxl-8">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5 shadow-lg mt-4">
            <div class="col-10 col-sm-8 col-lg-6">
                <%= image_tag "geyser5.jpg", class: "img-fluid", alt: "Solar geyser" %>
            </div>
            <div class="col-lg-6">
            <h1 class="display-4 fw-bold lh-1"> 
                    <span class="text-warning">Our</span>
                    <span class="text-success"> Mission</span>
                </h1>
                <p class="lead">At Sun Power we believe in maximizing savings by providing
                    a quality, friendly and ongoing after-sales service product of the solar system.
                    With the soaring price of electricity, switching your electric geyser to one that utilizes solar
                    as an energy source is the best and most efficient investment you can make.
                </p>
            </div>
        </div>
    </div>

    <hr class="featurette-divider mb-4" />

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="text-warning">Site Inspections</h2>
            <p class="lead">One on One Discussion including Inspection to discover your best Solar Heating needs.</p>
        </div>
        <div class="col-md-5">
            <%= image_tag "inspection.jpeg", class: "img-fluid", alt: "Inspection" %>
        </div>
    </div>

    <hr class="featurette-divider mb-4" />

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="text-success">Solar Repairs</h2>
            <p class="lead">After every 3 - 5  years we advise you to fully service your 
            solar geyser system so that it continues to serve you at its full potential and also 
            to ensure the long lifespan of the system. Issues worthy of repair vary from faulty 
            valves to Calcium build up which can be fixed by flushing Solar Panels </p>
        </div>
        <div class="col-md-5 order-md-1">
            <%= image_tag "repair.jpg", class: "img-fluid", alt: "Repairs" %>
        </div>
    </div>

    <hr class="featurette-divider mb-4" />

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="mb-3 text-warning">Installations</h2>
            <p class="lead">B-rated solar geysers are supplied and installed whether with the 
            solar panels or Heat pumps as identified after site inspection. The systems will all be 
            installed by a well trained and sufficiently experienced solar technician. The system Installation
            prices range from<span class="text-success"> R14 000 to R28 000.</span></p>
        </div>
        <div class="col-md-5">
            <%= image_tag "install.jpg", class: "img-fluid", alt: "Installation" %>
        </div>
    </div>
    
    <hr class="featurette-divider mb-4" />

    <div class="row featurette mb-4">
        <div class="col-md-7 order-md-2">
            <h2 class="text-success">Pool Heat Pumps</h2>
            <p class="lead">Pool heating options of either Solar Panels or Heat Pumps.
            Starting from <span class="text-success">R6000.</span></p>
        </div>
        <div class="col-md-5 order-md-1">
            <%= image_tag "heat.webp", class: "img-fluid", alt: "Pool Heating" %>
        </div>
    </div>
</div>